<template>
<div>
Hello World
<insert v-on:taskinserted="getlist()"></insert>
<listview :tasks="tasks"  v-on:taskremoved="getlist()"></listview>
</div>

</template>
<script>
import Insert from './insert'
import Listview from './listview'
export default{
components:{
Insert,
Listview
},
data:function(){
return{
tasks:[]
}
},
methods:{
getlist(){
axios.get('api/')
.then( response=>{
this.tasks=response.data
})
.catch(error=>{
console.log(error);
})
}
},
created(){
this.getlist();
}
}
</script>