<template>
<div>
<input type="text" v-model="item.name" required="">
  <button v-on:click="add">Add</button>
</div>
</template>
<script>
export default{
data:function(){
return{
item:{
name:""
}
}
},
methods:{
add(){
if(this.item.name==''){
return;
}
axios.post('api/store',{
task: this.item
})
.then( response=>{
if(response.status==201){
this.item.name="";
this.$emit('taskinserted');
}
}
)
.catch(error=>{
console.log(error);
})
}
}
}
</script>