<template>
<div>
List View
<ul>
  <li v-for="(task, index) in tasks " :key="index">
    
<span>{{task.task }}</span>

<button v-on:click="removetask(task.id)">Delete</button>
<button v-on:click="updateTask(task.id)" v-if="task.mark_complete==0">Mark Complete</button>


  </li>
</ul>

</div>
</template>
<script>
export default{
props:['tasks'],
methods:{
updateTask(id){
axios.put('api/update/'+ id,{
editedtask:this.tasks
})
.then( response=>{
if(response.status==200){
this.$emit('taskremoved');
}
}
)
.catch(error=>{
console.log(error);
})
},
removetask(id){
axios.delete('api/delete/'+ id,{
tasks:this.tasks
})
.then( response=>{
if(response.status==200){
this.$emit('taskremoved');
}
}
)
.catch(error=>{
console.log(error);
})
}
}
}
</script>